<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
  "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../general.ent">
  %general-entities;
]>

<sect1 id="ch-system-acl" role="wrap">
  <?dbhtml filename="acl.html"?>

  <sect1info condition="script">
    <productname>acl</productname>
    <productnumber>&acl-version;</productnumber>
    <address>&acl-url;</address>
  </sect1info>

  <title>Acl-&acl-version;</title>

  <indexterm zone="ch-system-acl">
    <primary sortas="a-Acl">Acl</primary>
  </indexterm>

  <sect2 role="package">
    <title/>

    <para>Acl 软件包包含管理访问控制列表的工具，访问控制列表用于定义文件和目录更细粒度的自定义访问权限。</para>

    <segmentedlist>
      <segtitle>&buildtime;</segtitle>
      <segtitle>&diskspace;</segtitle>

      <seglistitem>
        <seg>&acl-ch6-sbu;</seg>
        <seg>&acl-ch6-du;</seg>
      </seglistitem>
    </segmentedlist>

  </sect2>

  <sect2 role="installation">
    <title>安装 Acl</title>

    <para>修改存放文档的目录，使它放在版本特定的目录：</para>

<screen><userinput remap="pre">sed -i -e 's|/@pkg_name@|&amp;-@pkg_version@|' include/builddefs.in</userinput></screen>

    <para>修复一些损坏的测试：</para>

<screen><userinput remap="pre">sed -i "s:| sed.*::g" test/{sbits-restore,cp,misc}.test</userinput></screen>

    <para>另外，修复一个组名称超长时会使 <command>getfacl -e</command> 出现段错误的错误：</para>

<screen><userinput remap="pre">sed -i -e "/TABS-1;/a if (x > (TABS-1)) x = (TABS-1);" \
    libacl/__acl_to_any_text.c</userinput></screen>

    <para>准备编译 Acl：</para>

<screen><userinput remap="configure">./configure --prefix=/usr    \
            --disable-static \
            --libexecdir=/usr/lib</userinput></screen>

    <para>编译软件包：</para>

<screen><userinput remap="make">make</userinput></screen>

    <para>在用 Acl 库构建 <application>Coreutils</application> 后，Acl 测试才能在支持访问控制的文件系统上运行。如果需要的话，可以在本章后面构建完 <application>Coreutils</application> 之后回到这个软件包运行 <command>make -j1
    tests</command> 进行测试。</para>

    <para>安装软件包：</para>

<screen><userinput remap="install">make install install-dev install-lib
chmod -v 755 /usr/lib/libacl.so</userinput></screen>

    <para>需要移动共享库到 <filename class="directory">/lib</filename>，因此需要重建 <filename class="directory">/usr/lib</filename>  中的 <filename class="extension">.so</filename> 文件：</para>

<screen><userinput remap="install">mv -v /usr/lib/libacl.so.* /lib
ln -sfv ../../lib/$(readlink /usr/lib/libacl.so) /usr/lib/libacl.so</userinput></screen>

  </sect2>

  <sect2 id="contents-acl" role="content">
    <title>Acl 软件包内容</title>

    <segmentedlist>
      <segtitle>安装的程序：</segtitle>
      <segtitle>安装的库：</segtitle>
      <segtitle>安装目录：</segtitle>

      <seglistitem>
        <seg>chacl, getfacl, 和 setacl</seg>
        <seg>libacl.{a,so}</seg>
        <seg>/usr/include/acl 和 /usr/share/doc/acl-&acl-version;</seg>
      </seglistitem>
    </segmentedlist>

    <variablelist>
      <bridgehead renderas="sect3">简要介绍</bridgehead>
      <?dbfo list-presentation="list"?>
      <?dbhtml list-presentation="table"?>

      <varlistentry id="chacl">
        <term><command>chacl</command></term>
        <listitem>
          <para>更改文件或目录的访问控制列表</para>
          <indexterm zone="ch-system-acl chacl">
            <primary sortas="b-chacl">chacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="getfacl">
        <term><command>getfacl</command></term>
        <listitem>
          <para>获取文件访问控制列表</para>
          <indexterm zone="ch-system-acl getfacl">
            <primary sortas="b-getfacl">getfacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="setacl">
        <term><command>setacl</command></term>
        <listitem>
          <para>设置文件访问控制列表</para>
          <indexterm zone="ch-system-acl setacl">
            <primary sortas="b-setacl">setacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="libacl">
        <term><filename class="libraryfile">libacl</filename></term>
        <listitem>
          <para>包括用于管理访问控制列表的库函数</para>
          <indexterm zone="ch-system-acl libacl">
            <primary sortas="c-libacl">libacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

    </variablelist>

  </sect2>

</sect1>
